<!DOCTYPE html>



<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Insound</title>
</head>

<style>
    .h1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

</style>

<h1>

    <p>
        <a href="{{ url_for('register')}}">register</a>
    </p>

    <p>
        <a href="{{ url_for('login')}}">login</a>
    </p>

    <p>

        <a href="{{ url_for('notes')}}">Practice With Notes</a>

    </p>


</h1>
<body>


    
</body>
</html>