<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<style>

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');




body {
    align-items: center;
    background: #EEF5FD;
    color: #545556;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    height: 100vh;
    justify-content: center;
    margin: 0;
}






input{

    background-color: rgba(244, 244, 244, 0.772);
    border-radius: 8px;
    border-width: 0;
    color: #1a1919;
    border-color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


}



button {
    background-color: rgba(244, 244, 244, 0.772);
    border-radius: 8px;
    border-width: 0;
    color: #1a1919;
    border-color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover{


    background-color: rgba(121, 117, 117, 0.772);
    border-radius: 8px;
    border-width: 0;
    color: #1a1919;
    border-color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


}

button:disabled{

    background-color: rgba(121, 117, 117, 0.772);
    border-radius: 8px;
    border-width: 0;
    color: #1a1919;
    border-color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;



}

input:hover{

    background-color: rgba(121, 117, 117, 0.772);
    border-radius: 8px;
    border-width: 0;
    color: #1a1919;
    border-color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}




    footer{

        color: aqua;

        background-color: aqua;
    }


    body{

        

        background-color: #ffffff;

        color: #31363F;

        
    }
    p {
        text-decoration: overline underline;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;


}


    
</style>



{% extends 'layout.html' %}

{% block content %}
  <h2>Register</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post" action="{{ url_for('register') }}">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Register</button>
  </form>
{% endblock %}
